---
import { Image } from "astro:assets";
import PopoverIcon from "./react/PopoverIcon";

interface Props {
  name: string;
  image: string | void;
  stack: string[];
  link: string;
  github: string;
}

const { name, image, stack, link, github } = Astro.props;
---

<section class="flex flex-col border-solid border-2 border-black rounded-lg max-w-lg w-full">
  <div class="grid grid-cols-9">
    {
      image && 
      <div class="col-span-9">
        <Image width="800" height="300" src={image} alt="" class="aspect-video border-solid border-b-2 border-black rounded-t-md"/>
      </div>
    }
    <div class="col-span-9 flex flex-col gap-12 p-4 xl:p-6">
      <div class="flex flex-col gap-3">
        <h2 class="text-2xl font-semibold">
          {name}
        </h2>
        <div class="flex flex-col gap-2 pl-4">
          <span class="text-xl font-semibold text-gray-700">
            Tecnologias
          </span>
          <div class="w-full flex items-center justify-start gap-1 flex-wrap">
            {
              stack.map((s) => (
                <PopoverIcon s={s} client:visible/>
              ))
            }
          </div>
        </div>
      </div>
      <div class="w-full grid md:flex grid-cols-2 justify-end items-center gap-4 text-lg md:text-xl ">
        <a
          class="hover:cursor-pointer hover:shadow-sm bg-gradient-to-r from-pink-600 via-red-500 to-yellow-500 rounded-md" 
          href={link}
          target="_blank"
        >
          <div class="
            flex items-center justify-center gap-4 font-semibold text-lg text-white
            bg-black hover:bg-transparent transition-all px-4 py-2
            rounded-md">
            Preview
            <img src="/web.svg" alt="preview" class="w-6 m-1 invert"/>
          </div>
        </a>
        <a
          class="hover:cursor-pointer hover:shadow-sm bg-gradient-to-r from-pink-600 via-red-500 to-yellow-500 rounded-md" 
          href={github}
          target="_blank"
        >
          <div class="
            flex items-center justify-center gap-4 font-semibold text-lg text-white
            bg-black hover:bg-transparent transition-all px-4 py-2
            rounded-md">
            Codigo
            <img src="/github.svg" alt="github" class="w-6 m-1 invert"/>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
