---
import ButtonLink from "./ButtonLink.astro";
---

<nav id="navBarV" class="md:flex flex-col hidden items-start gap-4 justify-center font-semibold text-lg text-gray-800 fixed top-0 bottom-0 left-10">
  <ButtonLink href="#sobre-mi" target={false} classAdd={"hover:translate-x-2 transition-all"}>Sobre mi</ButtonLink>
  <ButtonLink href="#trabajos" target={false} classAdd={"hover:translate-x-2 transition-all"}>Trabajos</ButtonLink>
  <ButtonLink href="#proyectos" target={false} classAdd={"hover:translate-x-2 transition-all"}>Proyectos</ButtonLink>
  <ButtonLink href="#tecnologias" target={false} classAdd={"hover:translate-x-2 transition-all"}>Tecnologías</ButtonLink>
  <ButtonLink href="#certificados" target={false} classAdd={"hover:translate-x-2 transition-all"}>Certificados</ButtonLink>
</nav>