---
import H1 from "./H1.astro";
import Card from "./Card.astro";

const frontend = [
  {
    name: "Tienda online moderna",
    image: "/screen/firstPageFrontend.webp",
    stack: ["MongoDB", "Vite", "React", "GraphQL", "Apollo", "ReactRouter"],
    link: "https://first-page-seven.vercel.app/",
    github: "https://github.com/Diegoo11/first-page/tree/main",
  },
  {
    name: "Pagina controladora de tienda online",
    image: "/screen/firstPageBackend.webp",
    stack: ["MongoDB", "Vite", "Material", "React", "GraphQL", "Apollo", "ReactRouter"],
    link: "https://first-page-admin-page.vercel.app/",
    github: "https://github.com/Diegoo11/first-page-adminPage/tree/main",
  },
  {
    name: "Juego de la vida de John Conway",
    image: "/screen/gameOfLive.webp",
    stack: ["Vite", "React"],
    link: "https://game-of-live-eosin.vercel.app/",
    github: "https://github.com/Diegoo11/gameOfLive",
  },
  {
    name: "Tres en raya online con GraphQL",
    image: "/screen/ticTacToeNext.webp",
    stack: ["MongoDB", "Vite", "NextUI", "React", "Apollo", "ReactRouter", "Tailwind"],
    link: "https://tic-tac-toe-online-five.vercel.app/play",
    github: "https://github.com/Diegoo11/ticTacToe_Online/tree/main",
  },
  {
    name: "Tres en raya online con REST API",
    image: "/screen/ticTacToeAPI.webp",
    stack: ["MongoDB", "Vite", "NextUI", "React", "ReactQuery", "ReactRouter", "Tailwind"],
    link: "https://tic-tac-toe-online-micjs7k6a-diegoo11.vercel.app/play",
    github: "https://github.com/Diegoo11/ticTacToe_Online/tree/express-api",
  },
  {
    name: "Tres en raya online con Next",
    image: "/screen/ticTacToeGraphQL.webp",
    stack: ["MongoDB", "Nextjs", "NextUI", "React", "Tailwind", "ReactQuery"],
    link: "https://next-tictactoe-online.vercel.app/play",
    github: "https://github.com/Diegoo11/next-tictactoe-online/tree/main",
  },
  {
    name: "Cronometro para speed cubing",
    image: "/screen/cuberTimer.webp",
    stack: ["Firebase", "React", "FramerMotion"],
    link: "https://cubetimer-af0a6.web.app/",
    github: "https://github.com/Diegoo11/cube-for-Diegoo",
  },
];
const backend = [
  {
    name: "Tienda online moderna",
    stack: ["MongoDB", "Vite", "React", "GraphQL", "Apollo", "ReactRouter"],
    link: "https://first-page-seven.vercel.app/",
    github: "https://github.com/Diegoo11/first-page/tree/main",
  },
  {
    name: "Pagina controladora de tienda online",
    stack: ["MongoDB", "Vite", "Material", "React", "GraphQL", "Apollo", "ReactRouter"],
    link: "https://first-page-admin-page.vercel.app/",
    github: "https://github.com/Diegoo11/first-page-adminPage/tree/main",
  },
];
---

<div class="flex flex-col">
  <H1 id="proyectos">PROYECTOS</H1>
  <h2 class="text-center text-6xl font-semibold my-10">Frontend</h2>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 justify-items-center">
    {
      frontend.map((w) => (
        <Card
          name={w.name}
          github={w.github}
          image={w.image}
          link={w.link} 
          stack={w.stack}
        />
      ))
    }
  </div>
  <h2 class="text-center text-6xl font-semibold my-10">Backend</h2>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 justify-items-center">
    {
      backend.map((w) => (
        <Card
          name={w.name}
          github={w.github}
          image={""}
          link={w.link} 
          stack={w.stack}
        />
      ))
    }
  </div>
</div>
