---
import { ArrowRight } from "lucide-react";

interface Props {
  name: string;
  description: string[];
  video: string;
  link: string;
  stack: string[];
  important_points: string[];
}

const { description, video, important_points, name, stack, link } = Astro.props;
---

<div
  class="w-full rounded-md border-[1px] border-zinc-400 shadow-lg shadow-zinc-200 dark:shadow-zinc-950"
>
  <video
    preload="none"
    autoplay
    muted
    loop
    class="videoIndex aspect-video object-cover w-full"
  >
    <source src={video} type="video/mp4" />
    VideoIndex no disponible
  </video>
  <div class="p-6 text-lg flex md:flex-row flex-col gap-y-6 items-center">
    <div class="flex-1">
      <a href={link} target="_blank" class="hover:underline">
        <h2 class="text-3xl font-bold text-zinc-900 dark:text-zinc-300 mb-3">
          # {name}
        </h2>
      </a>
      <div class="text-zinc-600 dark:text-zinc-400 flex flex-col gap-2">
        {description.map((des) => <p>{des}</p>)}
      </div>
      <div
        class="grid grid-cols-1 lg:grid-cols-3 mt-4 w-full max-w-2xl gap-y-4"
      >
        <div class="">
          <h3 class="text-xl font-bold text-zinc-900 dark:text-zinc-300">
            Stack
          </h3>
          <ul class="list-disc list-inside text-zinc-600 dark:text-zinc-400">
            {stack.map((item) => <li>{item}</li>)}
          </ul>
        </div>
        <div class="col-span-2">
          <h3 class="text-xl font-bold text-zinc-900 dark:text-zinc-300">
            Puntos a destacar
          </h3>
          <ul class="list-disc list-inside text-zinc-600 dark:text-zinc-400">
            {important_points.map((item) => <li>{item}</li>)}
          </ul>
        </div>
      </div>
    </div>
    <div class="flex h-full mr-10 ml-5 items-center justify-center">
      <a
        class="bg-black text-white p-4 rounded-lg hover:translate-x-2 transition-transform"
        href={link}
      >
        <ArrowRight />
      </a>
    </div>
  </div>
</div>
