---
// import Card from "./Card.astro";
import H1 from "./H1.astro";
import WorkCard from "../components/react/WorkCard";

const works = [
  {
    name: "Página de canvas colaborativo TECHART",
    video:
      "https://ynoa-uploader.ynoacamino.site/uploads/1749780865_timelapse.mp4",
    stack: [
      "React",
      "Next.js",
      "TailwindCSS",
      "TypeScript",
      "Framer Motion",
      "SQLite",
    ],
    link: "https://techart.ynoacamino.site/",
    description: [
      "Página web desarrollada para el evento TechArt, fruto de la colaboración entre IEEE Student Branch UNSA y HDC - Centro de Arte UNSA.",
      "TechArt fue una experiencia interactiva donde estudiantes de la UNSA plasmaron su creatividad en un lienzo pixelado colaborativo, inspirado en Reddit Place.",
      "La plataforma permitió edición en tiempo real por usuarios autenticados y registró más de 450 participantes únicos en solo 3 días.",
      "El sistema fue optimizado para rendimiento, estabilidad y visualización dinámica del lienzo, fomentando el sentido de comunidad universitaria.",
    ],
    important_points: [
      "Diseño y desarrollo de la página web",
      "Optimización para motores de búsqueda (SEO)",
      "Reconeccion automatica, con websockets y Socket.io",
      "Sistema de diseño escalable con TailwindCSS",
      "Tipado estático con TypeScript",
      "Uso de animaciones fluidas con Framer Motion",
      "Buena accesibilidad para mobile y touchpad",
    ],
  },
  {
    name: "Página Web de la Startup Inveztiga",
    video:
      "https://ynoa-uploader.ynoacamino.site/uploads/1738433706_2025-02-01%2013-13-36.mkv",
    stack: [
      "React",
      "Next.js",
      "TailwindCSS",
      "TypeScript",
      "Framer Motion",
      "PocketBase",
      "SQLite",
    ],
    link: "https://inveztiga.ynoacamino.site/",
    description: [
      "Página web desarrollada para la startup Inveztiga como parte del concurso WICHARY de la incubadora JAKU.",
      "Inveztiga es una plataforma de enseñanza de aptitudes y habilidades para la investigación científica en Perú.",
      "Utiliza tecnologías de punta, incluyendo inteligencia artificial, para mejorar la enseñanza.",
      "La página web fue optimizada para SEO y accesibilidad, permitiendo una experiencia fluida para los usuarios.",
    ],
    important_points: [
      "Diseño y desarrollo de la página web",
      "Renderizado del lado del servidor (SSR) con Next.js",
      "Optimización para motores de búsqueda (SEO)",
      "Selector de tema (Modo claro, oscuro y automático)",
      "Sistema de diseño escalable con TailwindCSS",
      "Tipado estático con TypeScript",
      "Uso de animaciones fluidas con Framer Motion",
    ],
  },
  {
    name: "IEEE Certificate Validator",
    video:
      "https://ynoa-uploader.ynoacamino.site/uploads/1738433137_1738099968_New%20Project.mp4",
    stack: [
      "React",
      "Next.js",
      "TailwindCSS",
      "TypeScript",
      "Lucide React",
      "PocketBase",
      "SQLite",
    ],
    link: "https://certificates-validator.ynoacamino.site",
    description: [
      "Página web desarrollada para la validación de certificados de la IEEE UNSA.",
      "Permite a los usuarios verificar la autenticidad de sus certificados de manera rápida y sencilla.",
      "El sistema utiliza una base de datos en PocketBase, con una API RESTful ligera y eficiente para gestionar los certificados.",
      "Incluye funcionalidades para descargar y compartir certificados en redes sociales.",
    ],
    important_points: [
      "Diseño y desarrollo de la página web",
      "Verificación de certificados mediante identificadores únicos",
      "Optimización para motores de búsqueda (SEO)",
      "Renderizado del lado del servidor (SSR) con Next.js",
      "Sistema de temas (Modo claro, oscuro y automático)",
      "Tipado estático con TypeScript",
      "Panel intuitivo para compartir y descargar certificados",
    ],
  },
  {
    name: "Página de divulgación jurídica",
    video:
      "https://ynoa-uploader.ynoacamino.site/uploads/1738434101_2025-02-01%2013-20-42.mkv",
    stack: ["MongoDB", "Nextjs", "NextUI", "React", "Tailwind"],
    link: "https://miguelsalinasjuridico.com/",
    description: [
      "Página web desarrollada para un cliente con el objetivo de publicar contenido jurídico.",
      "Se optimizó el SEO para mejorar la visibilidad en los motores de búsqueda y posicionar la página en los primeros resultados.",
      "El cliente pidió poder hacer publicaciones, editarlas y eliminarlas, por lo que se desarrolló un sistema de gestión de contenidos en el que puede subir imágenes, texto, videos y PDFs.",
    ],
    important_points: [
      "Diseño y desarrollo de la página web",
      "Optimización para motores de búsqueda (SEO)",
      "Sistema de gestión de contenidos",
      "Diseño de la base de datos",
      "Panel de administración para gestionar publicaciones",
    ],
  },
  {
    name: "Pagina web para el capitulo estudiantil de la IEEE de la Universidad Nacional de San Agustin",
    video:
      "https://res.cloudinary.com/dux0sb99g/video/upload/v1711391430/hzr2ulkgoc2xcreko5wm.mp4",
    stack: ["Nextjs", "ShadCn", "React", "Tailwind", "TypeScript", "Vercel"],
    link: "https://ieee-ynoacamino.vercel.app/",
    description: [
      "Pagina web desarrollada para el concurso del capitulo estudiantil de la IEEE de la Universidad Nacional de San Agustin",
      "El diseño de la pagina fue inspirado en la marca de la IEEE, como se especifico en las bases del concurso, por lo que se tuvo que seguir determinado patrones de diseño",
      "Ademas se opto por disenar el tema oscuro de la pagina, para darle un toque mas moderno",
      "Toda la pagina configurable desde un archivo de configuración, para que el cliente pueda cambiar el contenido de la pagina sin tener que preocuparse por el código",
    ],
    important_points: [
      "Diseño y desarrollo de la página web acorde a la marca",
      "Configuración de la pagina desde un archivo de configuración",
      "Tema oscuro",
      "Optimización para motores de búsqueda",
    ],
  },
  {
    name: "Alerta UNSA de Talón de Pago",
    video:
      "https://ynoa-uploader.ynoacamino.site/uploads/1738433935_2025-02-01%2013-18-18.mkv",
    stack: [
      "Next.js",
      "TypeScript",
      "Tailwind CSS",
      "NextAuth.js",
      "Context API",
      "Lucide-react",
    ],
    link: "https://github.com/ynoacamino/ynoacamino-alert-page",
    description: [
      "Aplicación web para notificar la disponibilidad del talón de pago de la UNSA.",
      "Envía notificaciones por correo electrónico y WhatsApp.",
      "Cuenta con un dashboard para visualizar el estado de las consultas.",
      "Permite autenticación con Google mediante NextAuth.js.",
    ],
    important_points: [
      "Interfaz moderna con Tailwind CSS y Next.js",
      "Dashboard dinámico con estados visuales",
      "Menú lateral responsive y cambio de tema",
      "Manejo de sesiones con NextAuth.js",
      "Barra de progreso para mejor experiencia de usuario",
    ],
  },
  {
    name: "Tienda online (prototipo)",
    video:
      "https://res.cloudinary.com/dux0sb99g/video/upload/v1711391354/z4fuhocrihr3se64xflx.mp4",
    stack: [
      "Nextjs",
      "React",
      "Prisma",
      "Tailwind",
      "MercadoPago",
      "Cloudinary",
      "Shadcn",
    ],
    link: "https://e-commerce-ynoacamino.vercel.app/",
    description: [
      "Tienda online desarrollada como prototipo, para mostrar las funcionalidades de una tienda online",
      "Se desarrollo un sistema de autenticación, para que los usuarios puedan registrarse, iniciar sesión y cerrar sesión",
      "Se desarrollo un sistema de carrito de compras, en el cual los usuarios pueden agregar productos, eliminar productos y realizar la compra",
      "La tienda cuenta con un sistema de pagos, en el cual los usuarios pueden pagar con tarjeta de crédito, usando la pasarela de pagos de MercadoPago",
      "SE agergo un buscador de productos, para que los usuarios puedan buscar productos por su nombre o por su categoría",
      "Ademas se desarrollo un sistema de administración, en el cual los administradores pueden agregar productos, editar productos y eliminar productos",
    ],
    important_points: [
      "Diseño y desarrollo de la tienda online",
      "Sistema de autenticación",
      "Sistema de carrito de compras",
      "Sistema de pagos",
      "Sistema de administración de productos",
      "Tema oscuro",
    ],
  },
  {
    name: "Administrador de tienda online (prototipo)",
    video:
      "https://res.cloudinary.com/dazt6g3o1/video/upload/v1711391193/k43naabhv5kvquzzajhc.mp4",
    stack: [
      "Nextjs",
      "React",
      "Prisma",
      "Tailwind",
      "MercadoPago",
      "Cloudinary",
      "Shadcn",
    ],
    link: "https://admin-e-commerce-ynoacamino.vercel.app/",
    description: [
      "Administrador de tienda online desarrollado como prototipo, para mostrar las funcionalidades de un administrador de tienda online",
      "Se desarrollo un sistema de autenticación, para que solo los administradores puedan iniciar sesión y cerrar sesión (actulamente funciona para cualquier usuario, para que lo puedan probar)",
      "Se desarrollo un sistema de administración de productos, en el cual los administradores pueden agregar productos, editar productos y eliminar productos",
      "Ademas se desarrollo un sistema de administración de usuarios, en el cual los administradores pueden ver los usuarios registrados y eliminarlos",
    ],
    important_points: [
      "Diseño y desarrollo del administrador de tienda online",
      "Sistema de autenticación",
      "Sistema de administración de productos",
      "Sistema de administración de usuarios",
      "Tema oscuro",
    ],
  },
];
---

<div class="flex flex-col items-center my-20">
  <H1 id="trabajos">TRABAJOS</H1>
  <div class="grid md:grid-cols-2 gap-8 justify-items-center max-w-5xl">
    {
      works.map((w) => (
        <WorkCard
          name={w.name}
          video={w.video}
          link={w.link}
          stack={w.stack}
          description={w.description}
          important_points={w.important_points}
          client:load
        />
      ))
    }
  </div>
</div>
