---
import NavBar from '../components/NavBar.astro';
import ButtonLink from '../components/ButtonLink.astro';
import Footer from '../components/Footer.astro';
import NavBarMobile from '../components/react/NavBarMobile';
import ChangeTheme from '../components/react/ChangeTheme';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Informacion, trabajos, proyectos, y estudios de @ynoacamino, Yenaro Joel Noa Camino, Arequipa, Peru" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="keywords" content="HTML, JavaScript, CSS, Astro, Yenaro Joel Noa Camino, ynoacamino, portafolio">
    <title>Portafolio de Yenaro Joel Noa Camino</title>
    <meta name="author" content="Yenaro Joel Noa Camino">
    <meta http-equiv="Content-Language" content="es">
    <meta name="creator" content="Yenaro Joel Noa Camino">
    <meta name="robots" content="index, follow, nocache">
    <meta name="googlebot" content="index, follow, max-video-preview:-1, max-image-preview:large">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/772232222220615710/1182424763184988221/image.png?ex=6584a5df&is=657230df&hm=ae6030022f956cd3eeed51678a126371fbc88a871bfce288ddf6adcd24ac0717&">

    <meta name="google-site-verification" content="g30ufCNKK71KbPsouFqQiaJDDp7dMHnrahL2HKS6Jow" />
  </head>
  <body class="bg-one dark:bg-one-dark relative flex flex-col justify-between">
    <NavBar />
    <header class="flex w-full justify-between px-8 py-5 font-bold sticky top-0 bg-one dark:bg-one-dark md:bg-transparent z-20">
      <div class="flex items-center justify-center text-2xl hover:cursor-pointer
     py-2">
        @ynocamino
      </div>
      <div class="flex justify-center items-center gap-4">
        <nav id="navBarH" class="flex items-center justify-center gap-4 font-semibold text-lg text-gray-500">
          <ButtonLink href="#sobre-mi" target={false}>Sobre mi</ButtonLink>
          <ButtonLink href="#trabajos" target={false}>Trabajos</ButtonLink>
          <ButtonLink href="#proyectos" target={false}>Proyectos</ButtonLink>
          <ButtonLink href="#tecnologias" target={false}>Tecnologías</ButtonLink>
          <ButtonLink href="#certificados" target={false}>Certificados</ButtonLink>
        </nav>
        <ChangeTheme client:load/>
        <NavBarMobile client:visible/>
      </div>
    </header>
    <div class="w-full flex justify-center">
      <div class="w-full max-w-7xl md:ml-52 px-4 md:px-8 ">
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>
<style is:global>
  #navBarH {
    animation: enhance-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 100px;
  }

  @keyframes enhance-header {
    to {
      opacity: 0;
      display: none;
    }
  }

  #navBarV {
    animation: enhance ease-in-out both;
    animation-timeline: scroll(root block);
    animation-range: 0 100px;
  }

  @keyframes enhance {
    from {
      opacity: 0;
      translate: -100px 0px;
    }
    to {
      opacity: 1;
      translate: 0 0;
    }
  }
  @media (max-width: 950px) {
    #navBarV {
      animation: none;
    }
    #navBarH {
      display: none;
      animation: none;
    }
  }
</style>

<script>

</script>